<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <title>TheNetNinja Angular Playlist</title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="app\lib\angular.min.js"></script>
  </head>
  <body ng-init="sports=['tennis','badminton','swimming']">
    Enter Your Name: <input type="text" ng-model="userName" placeholder="" />
    <p>Hello! {{userName}}</p>
    <ul>
      <li>{{sports[0]}}</li>
      <li>{{sports[1]}}</li>
      <li>{{sports[2]}}</li>
    </ul>

    <ul>
      <li ng-repeat="x in sports">{{x}}</li>
    </ul>

  </body>
</html>
